.DS_Store
.idea/
GameRank/.DS_Store
GameRank/GameRank/__pycache__/
GameRank/doker-out
GameRank/games/.DS_Store
GameRank/games/__pycache__/
GameRank/games/migrations/__pycache__/
GameRank/games/templates/.DS_Store
GameRank/static/.DS_Store
actions-runner/
