/* Contenedor de paginación */
nav[aria-label="Pagination"] {
    margin-top: 30px;
}

/* Lista de paginación */
.pagination {
    gap: 5px;
}

/* Botones activos */
.pagination .page-item.active .page-link {
    background-color: #2980b9;
    color: #fff;
    border-color: #2980b9;
    font-weight: 600;
}

/* Botones normales */
.pagination .page-link {
    color: #2980b9;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 8px 14px;
    transition: all 0.3s ease;
}

/* Hover */
.pagination .page-link:hover {
    background-color: #3498db;
    color: white;
    border-color: #3498db;
}

/* Botones desactivados */
.pagination .page-item.disabled .page-link {
    color: #aaa;
    background-color: #f0f2f5;
    border-color: #dee2e6;
}

/**/

/* Fondo para toda la página -> default de los templates utils*/
body {
    background: url('../images/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Caja de contenido de ayuda */
.help-container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    color: #111;
}

/**/

.error-container {
    text-align: center;
    padding: 5%;
    background-color: rgba(255, 0, 0, 0.1); /* rojo claro */
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    max-width: 700px;
}

.error-container h1 {
    font-size: 6em;
    color: #dc3545;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.error-container .lead {
    font-size: 1.7em;
    color: #ff003b;
    margin-bottom: 30px;
    font-weight: 400;
}

.btn-group-vertical .btn {
    margin-bottom: 15px;
    padding: 12px 25px;
    font-size: 1.2em;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}